<div class="container">
  <div class="row">
    <form [formGroup]="loginform" (ngSubmit)="submit(loginform.value)">
      <div>
        <label>First name</label>
        <input type="text" formControlName="firstname" placeholder="firstname">
        <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
          <div class="validation-mesg alert-firstname">
            <span>
              first name is required
            </span>

          </div>
        </div>
      </div>
      <div>
        <label>last name</label>
        <input type="text" formControlName="lastname" placeholder="lastname">
        <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
          <div class="validation-mesg alert-lastname">
            <span>
              last name is required
            </span>

          </div>
        </div>
      </div>

      <div>
        <label>Email</label>
        <input type="text" formControlName="email" placeholder="email">
        <div *ngIf="email.invalid && (email.touched || email.dirty)">
          <div class="validation-mesg alert-email">
            <span>
              email name is required
            </span>

          </div>
        </div>
      </div>
      
      <div>
        <label>Phonenumber</label>
        <input type="text" formControlName="Phonenumber" placeholder="phonenumber">
        <div *ngIf="Phonenumber.invalid && (Phonenumber.touched || Phonenumber.dirty)">
          <div class="validation-mesg alert-Phonenumber">
            <span>
              Phonenumber name is required
            </span>

          </div>
        </div>
      </div>
      <button type="submit" routerLink = "home">login</button>
    </form>
  </div>
</div>
